In [2]:
import pandas as pd 
import numpy as np 
import datetime as dt 
from matplotlib import pyplot as plt

In [3]:
df = pd.read_csv('spy_options.csv')

In [5]:
df = df.drop(columns=['Unnamed: 0'])

In [7]:
df.head()

,date,callExp,ticker,underlying,strike,bid,ask,days_maturity,interest
0,3/22/22 6:29,4/14/22,SPY,445.835,425,23.65,23.86,23,0.01
1,3/22/22 6:29,4/14/22,SPY,445.835,426,22.85,23.20,23,0.01
2,3/22/22 6:29,4/14/22,SPY,445.835,427,22.03,22.21,23,0.01
3,3/22/22 6:29,4/14/22,SPY,445.835,428,21.19,21.34,23,0.01
4,3/22/22 6:29,4/14/22,SPY,445.835,429,20.40,20.53,23,0.01

In [8]:
for i in range(len(df)):
    df['date'][i] = pd.to_datetime(df['date'][i])

/var/folders/qs/08lrvdq116j2p_7gkyvmdryw0000gn/T/ipykernel_3109/778559817.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'][i] = pd.to_datetime(df['date'][i])

In [9]:
df.head()

,date,callExp,ticker,underlying,strike,bid,ask,days_maturity,interest
0,2022-03-22 06:29:00,4/14/22,SPY,445.835,425,23.65,23.86,23,0.01
1,2022-03-22 06:29:00,4/14/22,SPY,445.835,426,22.85,23.20,23,0.01
2,2022-03-22 06:29:00,4/14/22,SPY,445.835,427,22.03,22.21,23,0.01
3,2022-03-22 06:29:00,4/14/22,SPY,445.835,428,21.19,21.34,23,0.01
4,2022-03-22 06:29:00,4/14/22,SPY,445.835,429,20.40,20.53,23,0.01