In [16]:
import numpy as np
import pandas as pd
import datetime as dt
import eod_ohlc_pull as eod
from matplotlib import pyplot as plt

In [27]:
start = '2021-01-01'
end = '2021-12-31'
df = eod.ohlc(start, end, 'INTC')

In [28]:
df = pd.DataFrame.from_dict(df)

In [29]:
df.head(2)

         date   open    high    low  close  adjusted_close    volume
0  2021-12-31  51.89  52.159  51.46  51.50         51.1107  16318970
1  2021-12-30  51.92  52.140  51.65  51.74         51.3488  18359359

In [30]:
df['pct_change'] = df['adjusted_close'].pct_change()

In [33]:
df['pct_change'] = df['pct_change']*100

In [39]:
df.tail(4)

,date,open,high,low,close,adjusted_close,volume,pct_change
248,2021-01-07,51.490,52.69,51.3000,52.19,50.4882,32092340,1.045515
249,2021-01-06,50.435,52.15,50.2000,51.10,49.4338,36809641,-2.088409
250,2021-01-05,49.445,50.83,49.3300,50.61,48.9597,24866561,-0.959060
251,2021-01-04,49.890,51.39,49.4016,49.67,48.0504,46102461,-1.857242

In [42]:
df['pct_change'].mean()
avg = df['pct_change'].mean()

In [52]:
n = len(df)-1
value = 0.0
for i in range(len(df)):
    other = (float(df['pct_change'][i]) - avg)**2
    value += other
variance = value/n
print(variance)
vol = np.sqrt(variance)
print(vol)

nan
nan
nan

In [53]:
dh = pd.read_csv('test.csv')